extends layout

block content
    .row
        .col-lg-12
            h1.page-header Petani
        .row
            .col-lg-12
                .panel.panel-default
                    .panel-heading
                        | Data Petani
                    .panel-body
                        .alert.alert-success(style='display:none')
                        button#btnAdd.btn.btn-success(type='submit' style="margin-bottom:10px; width:150px") Add
                        table#dataTables-petani.table.table-striped.table-bordered.table-hover(width='100%')
                            thead
                                th(style="width:20%") No KTP
                                th(style="width:20%") Nama
                                th(style="width:20%") Alamat 
                                th(style="width:20%") Daerah
                                th(style="width:20%") Kontak
                            tbody#tblPetani
    #myModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Modal Heading
                .modal-body
                    form#formPetani(method='POST', action='')
                        .form-group
                            label(for='No KTP') No KTP:
                            input.noKTP.form-control(type='text', name="noKTP")
                        .form-group
                            label(for='Nama') Nama :
                            input#nama.form-control(type='text', name="nama")
                        .form-group
                            label(for='Alamat') Alamat :
                            textarea#alamat.form-control(name="alamat")
                        .form-group
                            label(for='Daerah') Daerah :
                            input#daerah.form-control(type='text', name="daerah")
                        .form-group
                            label(for='Kontak') Kontak :
                            input#kontak.form-control(type='text', name="kontak")
                        input#btnSave.btn.btn-primary(type='submit', value="Save")
                        button.btn.btn-danger(type='button', data-dismiss='modal') Close
                .modal-footer


